.head {
    -webkit-box-shadow: 0 2px 2px rgba(192,192,192,0.8);
    -moz-box-shadow: 0 0 2px 2px rgba(192,192,192,0.8);
    box-shadow: 0 0 2px 2px rgba(192,192,192,0.8);
}
.top-nav {
    background-color: #282828;
    min-height: 40px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}
.top-nav ul > li {
    margin: 5px;
}
.top-nav ul > li > a {
    background: none !important;
    color: #f1f1f1;
    padding: 5px 8px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.top-nav ul > li.active > a, .top-nav ul > li.open > a, .top-nav ul > li > a:hover {
    background-color: #ece9e2 !important;
    color: #282828 !important;
}

.account-top-nav ul {
    border: none;
    padding: 0;
}
.account-top-nav ul > li {
    margin: 0;
}
.account-top-nav ul > li > a {
    color: #282828;
    padding: 4px 6px;
    margin: 3px;
}
.account-top-nav ul > li.active > a, .account-top-nav ul > li.active > a:hover {
    background: #ece9e2 !important;
    color: #282828;
}
.account-top-nav > li.open > a {
    -webkit-border-radius: 2px 2px 0 0 !important;
    -moz-border-radius: 2px 2px 0 0 !important;
    border-radius: 2px 2px 0 0 !important;
}
.account-top-nav ul > li.divider {
    margin: 0;
}

/* tor-nav */
.tor-nav {
    background: #fff;
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.tor-nav a {
    white-space: nowrap;
}
.tor-nav ul ul {
    margin: 4px;
}
.tor-nav ul ul li {
    margin: 4px;
}
ul.tor-nav-1 {
    margin: 0;
}
ul.tor-nav-1 > li {
    margin: 0 10px;
    padding: 16px 2px;
    position: relative;
}
ul.tor-nav-1 > li:first-child {
    margin-left: 0;
}
ul.tor-nav-1 > li > a {
    font-size: 17px;
}
.tor-sub-nav {
    background: #fff;
    position: absolute;
    z-index: 100;
    display: none;
    padding: 10px;
    opacity: 0;
    left: 0;
    top: 56px;
    box-shadow: 0 2px 2px rgba(192,192,192,.8);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
ul.tor-nav-1 > li:hover > .tor-sub-nav {
    opacity: 1;
    display: block;
}

/* Account */
.account-nav > li {
    margin-bottom: 4px;
    -webkit-box-shadow: inset 6px 0 0 rgba(128,128,128,0.2);
    -moz-box-shadow: inset 6px 0 0 rgba(128,128,128,0.2);
    box-shadow: inset 6px 0 0 rgba(128,128,128,0.2);
}
.account-nav > li > a {
    padding: 6px 12px;
    color: #282828;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.account-nav > li.active > a, .account-nav > li > a:hover, .account-nav > li.active > .badge, .account-nav > li > a:hover > .badge {
    color: #ece9e2;
    background-color: #282828;
}

.left-menu ul {
    margin-left: 14px;
}

.left-menu li {
    border-top: 1px dotted #ccc;
    line-height: 1.8em;
}

a.active {
    color: #333;
}