.category-link-select {
    cursor: pointer;
    font-size: 17px;
    line-height: 1;
    margin-top: 4px;
    padding: 0;
    border-bottom: 1px dashed;
}
.category-link-select:hover {
    text-decoration: none;
}

#categories-modal .modal-dialog {
    width: 80%;
    max-width: 800px;
}
#categories-modal .modal-header {
    border: none;
}
#categories-modal .modal-header button.close {
    font-size: 32px;
}

.category-list ul {
    font-size: 16px;
    padding: 0 16px;
    display:table-cell;
}

.category-list a {
    cursor: pointer;
    text-decoration: none;
}

.category-list a.active {
    color: #333;
}

.categories {
    display:table; margin:0 auto;
    padding: 20px;
}
.categories ul {
    padding-left:16px;
    display: table-cell;
}